/* src/styles/styles.css */

.white-text {
  color: white !important;
}
  .graph-title {
    font-size: 1.25rem; /* Taille de police pour les titres des graphiques */
    font-weight: bold;
    margin-bottom: 1rem; /* Espacement en bas */
  }
  /* styles.css */
.pie-chart-card {
  background-color: #2c3e50; /* Fond sombre */
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
  margin: 20px 0; /* Marge externe */
}

.pie-chart-title {
  color: #ecf0f1; /* Couleur du texte */
  font-size: 1.5rem; /* Taille de la police */
  font-weight: bold; /* Gras */
  margin-bottom: 20px; /* Marge en bas */
  text-align: center; /* Centrer le texte */
}

.pie-chart-container {
  display: flex;
  justify-content: center; /* Centrer le graphique */
  align-items: center;
  padding: 20px; /* Espace intérieur */
}
  